
// .slider__description._anim-items {
//   transform: translate(0px, 150%);
//   opacity: 0;
//   transition: all 0.8s ease 0;
// }
// .slider__description._anim-items._active {
//   transform: translate(0px, 0px);
//   opacity: 1;
//   transition: all 0.8s ease 0.1s;
// }

// ======================

.slider__title._anim-items {
  transform: translate(0px, 120px);
  opacity: 0;
  transition: all 0.8s ease 0;
  &._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.1s;
}
}


.item__timer._anim-items{
    transform: translate(150%, 0px);
    opacity: 0;
    // overflow: hidden;
    &.item__timer._anim-items._active{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}
}




.item__hous._anim-items{
    transform: translate(150%, 0px);
    opacity: 0;
// overflow: hidden;
&.item__hous._anim-items._active{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.5s;
}

}


.item__payments._anim-items{
    transform: translate(150%, 0px);
    opacity: 0;
// overflow: hidden;
&.item__payments._anim-items._active{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.8s;
}
}



.hero__btn._anim-items,
.advantages__btn._anim-items,
.question__btn._anim-items,
.steps__btn._anim-items{
    transform: translate(0px, -120%);
    opacity: 0;
    // overflow: hidden;
        &.hero__btn._anim-items._active,
        &.advantages__btn._anim-items._active,
        &.question__btn._anim-items._active,
        &.steps__btn._anim-items._active{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.1s;
}
}



._benefits._anim-items, 
.nationwide__right-side._anim-items{
    transform: translate(120%, 0px);
    opacity: 0;
    // overflow: hidden;
    @media screen and (max-width: 767px){
        transform: translate(120%, 0px);
    }
    &._active{
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all 1s ease 0.1s;
        @media screen and (max-width: 767px){
            transition: all 1s ease 0.2s;
        }
    }
}

._selling._anim-items{
    transform: translate(220%, 0px);
    opacity: 0;
    // overflow: hidden;
    @media screen and (max-width: 767px){
        transform: translate(120%, 0px);
    }
    &._active{
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all 1.3s ease 0.3s;
        @media screen and (max-width: 767px){
            transition: all 1s ease 0.2s;
        }
    }}

._our-company._anim-items{
    transform: translate(320%, 0px);
    opacity: 0;
    // overflow: hidden;
    @media screen and (max-width: 767px){
        transform: translate(120%, 0px);
    }
    &._active{
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all 1.6s ease 0.5s;
        @media screen and (max-width: 767px){
            transition: all 1s ease 0.2s;
        }
    }}


.question__top-container._anim-items,
.question__bottom-left-container._anim-items{
    transform: translate(-120%, 0px);
    opacity: 0;

     &._active{
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all 1s ease 0.1s;
        @media screen and (max-width: 767px){
            transition: all 1s ease 0.2s;
        }
    }
}


.question__bottom-right-container._anim-items{
    transform: translate(120%, 0px);
    opacity: 0;
     &._active{
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all 1s ease 0.1s;
        @media screen and (max-width: 767px){
            transition: all 1s ease 0.2s;
        }
    }
}
