.response__section {
    padding-top: 0;
    @media screen and (max-width: 767px){
         padding-bottom: 10px;
    }
}
.response__container {
    padding: 0;
}
._container {
}
.response__wrapper {
    position: relative;
}
.response__bcg-img{
    object-fit: cover;
    width: 100%;
    display: flex;
}

.response__img{
    position: absolute;
    top:10%;
    left: 10%;
}